.category-table {
  margin: 2rem;
}

.form-add-transaction {
  padding: 4rem;
  margin: 2rem;
  border: 4px solid #0c6dfd;
  border-radius: 12px;
  color: #0c6dfd;
}

.form-add-transaction button {
  color: white;
  background-color: salmon;
  border-color: salmon;
}
.form-add-transaction label {
  color: salmon;
}

.form-add-transaction Input {
  border-color: #0c6dfd;
}

Table th {
  padding-right: 1rem;
  padding-top: 2rem;
}
